.popup__button-save {
  margin-top: 48px;
  background-color: #000000;
  color: #ffffff;
  max-height: 50px;
  max-width: 358px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
  opacity: 1;
  cursor: pointer;
}

.popup__button-save:hover {
  opacity: 0.8;
  transition: 0.3ms;
}

@media (max-width: 768px) {
  .popup__button-save {
    margin: 45px 0 0 0;
    max-width: 238px;
    font-size: 14px;
    line-height: 16.94px;
  }
}
