.popup__input {
  border: none;
  max-width: 358px;
  min-height: 27px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 16.94px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.popup__input:nth-child(odd) {
  margin: 44px 0 0 0;
}

.popup__input:nth-child(even) {
  margin: 27px 0 0 0;
}

@media (max-width: 768px) {
  .popup__input:nth-child(odd) {
    margin: 75px 0 0 0;
  }
}
