.elements__cell-trash {
  position: absolute;
  top: 20px;
  right: 20px;
  min-width: 18px;
  height: 19px;
  opacity: 1;
  cursor: pointer;
  background-image: url(../../../images/Trash.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  align-self: center;
  border: none;
}

.elements__cell-trash:hover {
  opacity: 0.6;
}