.profile__subtitle {
  margin: 10px 0 70px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}

@media (max-width: 768px) {
  .profile__subtitle {
    margin: 10px 0 4px 30px;
    text-align: center;
    font-size: 14px;
    line-height: 16.94px;
  }
}
