.elements__cell-heart {
    min-width: 22px;
    height: 19px;
    opacity: 1;
    cursor: pointer;
    background-image: url(../../../images/heart.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    align-self: center;
    border: none;
  }
  
  .elements__cell-heart:hover {
    opacity: 0.5;
  }
  
  .elements__cell-heart_active {
    opacity: 1;
    background-image: url('../../../images/blackheart.svg');
    background-repeat: no-repeat;
    align-self: center;
  }