.profile__avatar {
  margin: 0 26.25px 0 0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 768px) {
  .profile__avatar {
    margin: 0;
  }
}
