.profile__info {
    display: grid;
    align-items: center;
    max-height: 73px;
    max-width: 336px;
    color: #ffffff;
    margin: 0 0 auto 0;
  }
  
  @media (max-width: 768px) {
    .profile__info {
      margin: 0;
      padding-top: 22.25px;
    }
  }