.footer {
  margin: 67px auto;
  max-width: 880px;
  box-sizing: border-box;
}

@media (max-width: 1279px) {
  .footer {
    max-width: 580px;
  }
}

@media (max-width: 768px) {
  .footer {
    margin: 0 auto;
    margin-top: 14px;
    max-width: 282px;
  }
}
